<div class="container-fluid">
  <div class="row justify-content-center">
    @for(vehiculo of listadoVehiculos; track vehiculo.url) {
      <div class="card m-2" style="width: 40%;">
          <img [src]="getImagen(vehiculo.url)" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bg-dark text-warning text-uppercase mb-3 py-2 ps-2"><strong>{{ vehiculo.name }}</strong></h5>
            <p class="mb-2"><i class="bi bi-wrench-adjustable-circle"></i><strong>&ensp; Fabricante:</strong> {{ vehiculo.manufacturer }}</p>
            <p class="mb-3"><i class="bi bi-gear-fill"></i><strong>&ensp;Modelo:</strong> {{ vehiculo.model }}</p>
            <div class="card-text d-flex justify-content-around align-items-center bg-dark">
              <div>
                <p class="text-capitalize text-white mt-2"><span class="text-warning"><i class="bi bi-sliders"></i><strong>&ensp;Clase:</strong></span> {{ vehiculo.vehicle_class }}</p>
                <p class="text-white"><span class="text-warning"><i class="bi bi-person-square"></i><strong>&ensp;Tripulantes:</strong></span> {{ vehiculo.crew }}</p>
                <p class="text-white mb-2"><span class="text-warning"><i class="bi bi-person-bounding-box"></i><strong>&ensp;Pasajeros:</strong></span> {{ vehiculo.passengers }}</p>
              </div>
              <div>
                <p class="text-white mt-2"><span class="text-warning"><i class="bi bi-rulers"></i><strong>&ensp;Longitud:</strong></span> {{ vehiculo.length }} m</p>
                <p class="text-white"><span class="text-warning"><i class="bi bi-speedometer"></i><strong>&ensp;Velocidad máx:</strong></span> {{ vehiculo.max_atmosphering_speed }} Km/h</p>
                <p class="text-white mb-2"><span class="text-warning"><i class="bi bi-person-fill"></i><strong>&ensp;Capacidad:</strong></span> {{ vehiculo.cargo_capacity == 'none' ? 0 : vehiculo.cargo_capacity }} personas</p>
              </div>
            </div>
            <a href="#" class="btn btn-warning mt-3"><strong>{{ vehiculo.cost_in_credits == 'unknown' ? '¿?' : vehiculo.cost_in_credits }} Créditos</strong></a>
          </div>
      </div>
    }
  </div>
</div>