<div class="container-fluid text-center my-4">
    <div class="row d-flex justify-content-center">
        <div class="card px-0 border border-black border-3 m-2 rounded-0" style="width: 17rem;">
            <div class="card-body bgTextCard border border-3 border-black border-start-0 border-end-0 border-top-0 d-flex align-items-center justify-content-center">                    
                <h5 class="card-title m-0 text-uppercase"><strong>{{ pokemon!.name }}</strong></h5>
            </div>
            <div class="card-img-wrapper bgCard">
                <img [src]="pokemon!.sprites.front_default" class="card-img-top rounded-0" [alt]="pokemon!.name">
            </div>
            <div class="card-body bg-dark border border-3 border-black border-start-0 border-end-0 border-bottom-0 d-flex align-items-center justify-content-around">
                <div class="bg-primary p-2 rounded-2 text-light">
                    @if(life > 0){
                        <h4 class="m-0"><strong>PS:</strong> {{ life }}</h4>
                    } @else {
                        <h4 class="m-0"><strong>PS:</strong> 0</h4>
                    }
                </div>
                <div class="bg-danger p-2 rounded-2 text-light">
                    <h4 class="m-0"><strong>ATK:</strong> {{ pokemon!.stats[1].base_stat }}</h4>
                </div>
            </div>
            <div class="p-3 bg-dark">
                <ngb-progressbar [type]="getLifeBarColor()" [value]="life" [striped]="true" [animated]="true"></ngb-progressbar>
            </div>
            @if(turnoToca == true){
                <div class="card-body border border-3 border-black border-start-0 border-end-0 border-bottom-0 d-flex align-items-center justify-content-center">
                    <button class="btn btn-danger" (click)="hacerAtaque(pokemon!.stats[1].base_stat)">ATACAR</button>
                </div>
            } @else {
                <div class="card-body border border-3 border-black border-start-0 border-end-0 border-bottom-0 d-flex align-items-center justify-content-center">
                    <button class="btn btn-danger" disabled="disabled">TURNO DEL OPONENTE</button>
                </div>
            }
        </div>
    </div>
</div>


