/* CARTA (CALCULADORA) --------------------------------------------------------------------*/

.anchoCarta {
    width: 20rem;
}

.colorCalcu {
    background-color: #252b31;
}

/* ----------------------------------------------------------------------------------------*/


/* PANTALLA DE DÍGITOS --------------------------------------------------------------------*/

.fondoDigitos {
    background-color: #778c87;
}

.digitoSize {
    font-size: 26px;
}

/* ----------------------------------------------------------------------------------------*/


/* TECLAS ---------------------------------------------------------------------------------*/

.rellenoTeclas {
    width: 30%;
}

.colorTeclas {
    background-color: #eee8ea;
    color: #15191c;
}

.anchoTeclas {
    width: 80%;
}

.alturaAC {
    height: 37.6px;
}

.anchoIgual {
    width: 20%;
}

.alturaIgual {
    height: 73.5%;
}

/* ----------------------------------------------------------------------------------------*/