<div class="card anchoCarta position-absolute top-50 start-50 translate-middle">
    <p class="fondoDigitos w-100">kk</p>
    <div class="card-body d-flex w-100">
        <div class="w-75 me-1">
            <div class="d-flex justify-content-between w-100">
                <button class="btn btn-secondary card-text rellenoTeclas">{{siete}}</button>
                <button class="btn btn-secondary card-text rellenoTeclas">{{ocho}}</button>
                <button class="btn btn-secondary card-text rellenoTeclas">{{nueve}}</button>
            </div>
            <div class="d-flex justify-content-between w-100 my-2">
                <button class="btn btn-secondary card-text rellenoTeclas">{{cuatro}}</button>
                <button class="btn btn-secondary card-text rellenoTeclas">{{cinco}}</button>
                <button class="btn btn-secondary card-text rellenoTeclas">{{seis}}</button>
            </div>
            <div class="d-flex justify-content-between w-100">
                <button class="btn btn-secondary card-text rellenoTeclas">{{uno}}</button>
                <button class="btn btn-secondary card-text rellenoTeclas">{{dos}}</button>
                <button class="btn btn-secondary card-text rellenoTeclas">{{tres}}</button>
            </div>
            <div class="d-flex justify-content-between w-100 mt-2">
                <button class="btn btn-secondary card-text rellenoTeclas">{{cero}}</button>
                <button class="btn btn-secondary card-text rellenoTeclas">+</button>
                <button class="btn btn-secondary card-text rellenoTeclas">-</button>
            </div>
        </div>
        <div class="w-25 ms-2">
            <button class="btn btn-secondary card-text w-100 h-100">=</button>
        </div>
    </div>
</div>
